<!-- <div class="slds-grid">




	<div class="slds-container_x-large">
		

	    <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap">
	        <h3 class="slds-text-medium slds-m-bottom_medium">Currency Converter</h3>
	        <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
	        

	                <div class="slds-form-element slds-grid slds-wrap">
	                    <label class="slds-form-element__label" for="text-input-id-1">Type in amount and select currency:</label>
	                    
						<div class="slds-grid">
		                    <div class="slds-form-element__control slds-col">
		                        <input type="text" id="amount-input" class="slds-input" placeholder="0.00">
		                    </div>
		                    <div class="slds-form-element__control slds-col">
		                        <div class="slds-select_container">
			                        <select class="slds-select" id="select-01">
			                            <option>Option One</option>
			                            <option>Option Two</option>
			                            <option>Option Three</option>
			                        </select>
		                    	</div>
		                    </div>
						</div>
	                    
	                </div>
	                <div class="slds-form-element">
	                    <label class="slds-form-element__label" for="text-input-id-1">Converted amount:</label>
	                    <div class="slds-form-element__control">
	                        <input type="text" id="amount-converted" class="slds-input" placeholder="0.00">
	                    </div>
	                </div>
	            
	        </div>
	    </div>
		
	</div>
</div>
 -->
<div class="slds-grid_align-center slds-grid_vertical">
    <div class="slds-container_fluid slds-p-around_large">
			
			<div class="slds-grid">
				<div class="slds-size_4-of-12 slds-p-around_medium">
            		<converter-directive></converter-directive>
            	</div>
				<div class="slds-size_4-of-12 slds-p-around_medium">
            		<converter-directive></converter-directive>
            	</div>
				<div class="slds-size_4-of-12 slds-p-around_medium">
            		<converter-directive></converter-directive>
            	</div>
            </div>

    </div>
</div>
