<div ng-if="converterDirective.loaded">
		<form novalidate name="currencyForm">
		<div class="slds-grid slds-wrap">
			<div class="slds-p-horizontal_small slds-size_3-of-3 slds-p-around_xx-small">
				<h1>Currency converter</h1>
			</div>
		</div>

		<div class="slds-grid slds-wrap">
			<div class="slds-p-horizontal_small slds-size_3-of-3 slds-p-horizontal_xx-small slds-p-top_xx-small">
				Type in amount and select currency:
			</div>
		</div>



		<div class="slds-grid slds-wrap">
			

			<div class="slds-form-element slds-p-horizontal_small slds-size_8-of-12 slds-p-around_xx-small" ng-class="{'slds-has-error' : currencyForm.amountInput.$error.number}">
				<input type="number" id="amount-input" name="amountInput" class="slds-input" placeholder="0.00" ng-model="converterDirective.baseAmount" ng-change="converterDirective.calculateConverted()" required>
			</div>
			


			<div class="slds-p-horizontal_small slds-size_4-of-12 slds-p-around_xx-small">
				<div class="slds-select_container">
		            <select class="slds-select" id="select-base" ng-model="converterDirective.baseCurrency" ng-change="converterDirective.calculateConverted()">
		            	<option ng-repeat="currency in converterDirective.currencyList" ng-value="currency">{{currency}}</option>
		            </select>
		        </div>
			</div>


		</div>

		<div class="slds-grid slds-wrap">
			<div class="slds-p-horizontal_small slds-size_3-of-3 slds-p-horizontal_xx-small slds-p-top_xx-small">
				Converted Amount:
			</div>
		</div>

		<div class="slds-grid slds-wrap">
			<div class="slds-form-element slds-p-horizontal_small slds-size_8-of-12 slds-p-around_xx-small" ng-class="{'slds-has-error' : currencyForm.amountConverted.$error.number}">
				<input type="number" id="amount-converted" name="amountConverted" class="slds-input" placeholder="0.00" ng-model="converterDirective.convertedAmount" ng-change="converterDirective.calculateBase()" required>
			</div>
			<div class="slds-p-horizontal_small slds-size_4-of-12 slds-p-around_xx-small">
				<div class="slds-select_container">
		            <select class="slds-select" id="select-converted" ng-model="converterDirective.convertedCurrency" ng-change="converterDirective.calculateConverted()">
		                <option ng-repeat="currency in converterDirective.currencyList" ng-value="currency">{{currency}}</option>
		            </select>
		        </div>
			</div>
		</div>

		<div ng-if="!converterDirective.disclaimer" class="slds-grid slds-wrap">
			<div class="slds-p-horizontal_small slds-size_3-of-3 slds-p-horizontal_xx-small slds-p-top_xx-small slds-text-align_right">
				<a href="" ng-click="converterDirective.disclaimer = true">Disclaimer</a>
			</div>
		</div>
		<div ng-if="converterDirective.disclaimer" class="slds-grid slds-wrap slds-is-relative">
			<div class="slds-p-horizontal_small slds-size_3-of-3 slds-p-horizontal_xx-small slds-p-top_xx-small slds-text-align_left">
				<div class="slds-box slds-is-relative">
					<div class="slds-is-absolute slds-float_right" style="right: 10px; top: 4px">
						<span ng-click="converterDirective.disclaimer = false" class="slds-icon_container slds-icon-utility-close cursor-pointer" title="Close">
							<svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="vendors/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon</span>
						</span>
					</div>
					<p>Fixer.io is a free JSON API for current and historical foreign exchange rates published by the European Central Bank.</p>
					<p>The rates are updated daily around 4PM CET.</p>
				</div>
			</div>
		</div>
	</form>
</div>

<div ng-if="!converterDirective.loaded" class="slds-spinner_container slds-is-relative">
	<div role="status" class="slds-spinner slds-spinner_small">
		<span class="slds-assistive-text">Loading</span>
		<div class="slds-spinner__dot-a"></div>
		<div class="slds-spinner__dot-b"></div>
	</div>
</div>

